* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-family: 'Montserrat', sans-serif;
  background-color: #434343;
}

header {
  height: 102.6px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
}

span {
  font-weight: 700;
}

button {
  cursor: pointer;
}

header img {
  height: 62.6px;
}

i {
  color: orange;
}

.actors {
  color: white;
}

.img .flag{
  width: 16px;
}

.results {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  flex-direction: row;
  flex-wrap: wrap;
}

.single-box {
  width: 344px;
  height: 515px;
  margin: 50px;
  font-size: 12px;
  color: white;
  border: 1px solid white;
  /* border-radius: 10px; */
  background-color: black;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.info {
  display: none;
  padding: 40px 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.single-box:hover .poster {
  display: none;
}

.single-box:hover .info {
  display: block;
}
