* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

header {
  height: 102.6px;
  background-color: black;
}

i {
  color: orange;
}

.img .flag{
  width: 16px;
}

.results {
  display: flex;
  background-color: #434343;
  justify-content: space-around;
  /* align-items: center; */
  flex-direction: row;
  flex-wrap: wrap;
}

.single-box {
  width: 344px;
  height: 515px;
  margin: 50px;
  font-size: 15px;
  color: white;
  border: 1px solid white;
  /* border-radius: 10px; */
  background-color: black;
  position: relative;
}

.info {
  display: none;
  padding: 40px 10px;
  position: absolute;
  top: 0;
  left: 0;
}


.single-box:hover .poster {
  display: none;
}

.single-box:hover .info {
  display: block;
}
