<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>BOOLFIX</title>
  </head>
  <body>

    <div id="app">
      <div class="search-bar">
        <input v-model="textSearched" type="text" name="" value="">
        <button @click="searchForTextFx" type="button" name="button">Search</button>
      </div>
      <div class="results">
        <!-- Single Search -->
        <div v-for="element in obj">
          <h3>{{element.title}}</h3>
          <div class="original-title"> <strong>Original Title:</strong> {{element.original_title}}</div>
          <div class="lang"><strong>Language:</strong> {{element.original_language}}</div>
          <div class="lang"><strong>Vote:</strong> {{element.vote_average}}<span><i v-for="i in element.vote_average"class="fas fa-star"></i><i v-for="i in (5 - element.vote_average)" class="far fa-star"></i></span> </div>
          <br>
        </div>
        <!-- END Single Search -->
      </div>
    </div>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
