<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>BOOLFIX</title>
  </head>
  <body>

    <div id="app">

      <!-- HEADER -->
      <header>

        <img src="img/boolfix-logotype.png" alt="boolfix logo">

        <!-- Search-Bar -->
        <div class="search-bar">
          <input v-model="textSearched" type="text" name="" value="">
          <button @click="wholeContentFx" type="button" name="button">Search</button>
        </div>
        <!-- END Search-Bar -->

      </header>
      <!-- END HEADER -->

      <div class="results">

        <!-- Single Search -->
        <div @mouseenter="actorsFx(element)" class="single-box" v-for="element in obj">

          <img v-if="element.poster_path" class="poster" :src="picturePath + element.poster_path" alt="">
          <img v-else class="poster" :src="picturePlaceHolder" alt="">

          <div class="info">
            <!-- Title -->
            <div v-if="element.title" class="title">
              <span>Title:</span>
              {{element.title}}
            </div>

            <div v-if="element.name" class="title">
              <span>Title:</span>
              {{element.name}}
            </div>
            <!-- End Title -->

            <!-- Original Title -->
            <div v-if="element.original_title" class="original-title">
              <span>Original Title:</span> {{element.original_title}}
            </div>

            <div v-if="element.original_name" class="original-name">
              <span>Original Title:</span> {{element.original_name}}
            </div>
            <!-- End Original Title -->

            <!-- Language -->
            <div class="lang">
              <div class="img">
                <img class="flag" v-if="availableFlag.includes(element.original_language)" :src="'flag/' + element.original_language + '.svg'" alt="">
                <div v-else><span>Language: </span>{{element.original_language}}</div>
              </div>
            </div>
            <!-- End Language -->

            <!-- Vote -->
            <div class="vote">
              <span>Vote: </span><i v-for="i in getVote(element.vote_average)" class="fas fa-star"></i><i v-for="i in (5 - getVote(element.vote_average))" class="far fa-star"></i>
            </div>
            <!-- End Vote -->

            <!-- Overview -->
            <div v-if="element.overview" class="overview">
              <span>Overview:</span> {{element.overview}}
            </div>
            <div v-else class="overview">
              <span>Overview:</span> The description of movie documents has become a necessary condition to explore the content. For this purpose, the extraction of generic descriptions represents a pertinent solution for an interrogation process. In this context, two types of descriptions are used, an external and a content description. In this regard, the title and the keywords descriptions represent the description that can be identified from the content.
            </div>
            <!-- End Overview -->

            <!-- Actors -->
            <span>Actors:</span>
            <div v-for="element in actors" class="actors">
              {{element}}
            </div>
            <!-- END Actors -->

          </div>

        </div>
        <!-- END Single Search -->


      </div>
    </div>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
